body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333; /* Warna latar belakang navbar */
  }
  
  .navbar a, .navbar button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .button {
    background-color: #555; /* Warna latar belakang untuk tombol */
    border: none; /* Menghilangkan border pada tombol */
  }
  
  /* Efek hover untuk link dan tombol */
  .navbar a:hover, .navbar button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Gradasi latar belakang dari hitam ke abu-abu */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tinggi penuh layar */
    background-image: linear-gradient(black, grey);
    text-align: center;
  }
  
  .slogan {
    font-size: 2em; /* Ukuran font untuk slogan */
    color: white; /* Warna teks untuk slogan */
  }
  