body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.nav {
    display: flex;
    margin-top: 30px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.container #title {
    position: absolute;
    font-size: 2.2em;
    margin-bottom: -1.2em;
    margin-left: -80%;
}

.nav a {
    color: #fff;
    position: relative;
    text-decoration: none;
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #0019FB;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}
.hero-text {
    position: relative;
    top: 190px;
    left: -50px;
    color: #d7d7d7;
    font-size: 5.5em;
    letter-spacing:  2  px;
    line-height: 150px;
    word-spacing: 100px;
    font-weight: bolder;
    text-align: center;
}

.hero img {
    width: 37%;
    position: absolute;
    display: flex;
    max-width: 800px;
    margin-top: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.hero-text span {
    font-weight: bold;
}

button {
    margin-left: 770px;
    position: absolute;
    width: 120px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0062cc;
}